[submodule "src/3rdparty/wren"]
	path = src/3rdparty/wren
	url = https://github.com/wren-lang/wren
[submodule "src/3rdparty/os-wren"]
	path = src/3rdparty/os-wren
	url = https://github.com/Hyalunar/os-wren.git
